<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Phoenix!</title>
    <link rel="stylesheet" href="/css/app.css">
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/phoenix.js"></script>
  </head>

  <body>
    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li><a href="#">About</a></li>
        </ul>
        <h1><a href="/">Chat</a></h1>
      </div>

      <%= @inner %>

      <div class="footer">
        Chat is awsm chat app built with Phoenix and Elixir.
      </div>

    </div> <!-- /container -->
  </body>
</html>
