<h2>Pick a name for your new chat room</h2>

<form action="/rooms" method="post" class="form-inline">

  <div class="form-group">
    <input type="text" name="room_name" class="form-control" />
  </div>

  <button type="submit" class="btn btn-success">Start chatting</button>

</form>
