<script type="text/javascript" src="/js/room.js"></script>

Room name: <%= @room_name %>

<pre id="chatbox" style="height: 200px;">
  <%= for message <- @messages do %>
    <%= message.username %>: <%= message.body %>
  <% end %>
</pre>

<form>
  <input id="room_id" type="hidden" name="room_id" value="<%= @room_id %>">
  @<input id="username" type="text">
  :<input id="message" type="text">
  <input type="submit">
</form>
