<h2>Rooms</h2>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= for room <- @rooms do %>
      <a href="<%= room_path(id: room.id) %>" class="btn btn-primary btn-lg btn-block">
        <%= room.name %>
      </a>
    <% end %>
    <a href="<%= new_room_path %>" class="btn btn-success btn-lg btn-block">Add a new room</a>
  </div>
</div>
